<html>
    <head>
        <title>Netenvelope</title>
        <link rel="stylesheet" href="static/tailwind.css" />
    </head>
    <body class="bg-slate-900 text-slate-100">
        Hello world
    </body>
</html>
